@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');
body {
    background: #311B92;  /* fallback for old browsers */
    font-family: 'Poppins', sans-serif;
    color: white;
}

.btn-primary {
    font-family: 'Poppins', sans-serif;
}
.color-list{
    color: #000;
}
