{% extends 'base.html'%}
{% block content %}
<div class="col">
    <h1 class="mt-4">{{ message }}</h1>
    <ul class="list-group">
        {% for product in products %}
        <li class="list-group-item">
            <span class="color-list">
                {{ product.title }}
            </span>
            <span class="color-list succes">
                {{ product.price }}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
