<!--Includes-->
{% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} mt-4">
                <button class="close" type="button" data-dismiss="alert">x</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}