{% url 'login' as login %} {% url 'register' as register %}
<nav class="navbar navbar-expand-md navbar-dark ">
    <a href="{% url 'index' %}" class="navbar-brand"
        ><i class="fas fa-store"></i> Store Apps</a
    >
    <button
        type="button"
        name="button"
        class="navbar-toggler navbar-toggler-rigth"
        data-toggle="collapse"
        data-target="#navb"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb" class="navbar-collapse collapse hide">
        <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="navbar-item">
                <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>
            {% else %}
            <li class="navbar-item">
                <a href="{{ login }}"
                    class="nav-link {% if request.path == login %}active{% endif %}"
                    ><span class="fas fa-user"></span> Login</a
                >
            </li>
            <li class="navbar-item">
                <a
                    href="{{ register }}"
                    class="nav-link {% if request.path == register %}active{% endif %}"
                    ><span class="fas fa-user-plus"></span> Registro</a
                >
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
