{% extends 'base.html'%}
{% block content %}
<div class="col">
    <h2 class="mt-4">Login</h2>
    <!--- Formulario -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Usuario</label>
            <input type="text" name="username" placeholder="Ingrese su usuario" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Ingrese la contraseña" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
