{% extends 'base.html'%}
{% block content %}
<div class="col">
    <h2 class="mt-4">Registro</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {{ field }}
          {% if field.errors %}
            {{ field.errors }}
          {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
{% endblock %}
